.active {
  background: rgb(55, 48, 107);
  color: black;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  font-size: 1.5rem;
}

.style {
  background: transparent;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  font-size: 1.5rem;
}

.style:hover {
  background: rgba(0, 0, 0, 0.3);
}
