body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Merriweather";
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-size: 100%;
  background-position: 100%;
  background-image: url("https://rare-gallery.com/uploads/posts/5401486-light-hand-concert-crowd-smoke-club-person-stage-festival-band-performance-silhouette-motion-movement-purple-music-blurry-pink-dubstep-skrillex-creative-commons-images.jpg"); */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
